<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f8e7f11-815c-49ca-ad9b-5ef4bcc5e001" Alias="09ee80db-9943-4283-a163-53b639634d26" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/ee80db99434283A16353b639634d26</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-06-01T14:49:48</CreateDate>
    <NodeName Default="09ee80db-9943-4283-a163-53b639634d26" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Draft Page]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>