<?xml version="1.0" encoding="utf-8"?>
<Content Key="cbb3873a-f358-4fa8-918b-f9a932b5d7aa" Alias="Breathmaster Mints" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/BreathmasterMints</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-05-31T17:02:19</CreateDate>
    <NodeName Default="Breathmaster Mints" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[food]]></Value>
    </category>
    <description>
      <Value><![CDATA[For the pirate who cares about first impressions.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "f6123141-bd3c-4e43-aa45-55f528997216",
    "mediaKey": "1e6bbfe6-6806-4b0b-b06f-fbd8de8b17ff",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[1]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Breathmaster Mints]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
  </Properties>
</Content>