<?xml version="1.0" encoding="utf-8"?>
<Content Key="2da4a699-88e9-409a-859d-78eaed0cc1d3" Alias="Elmah" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Elmah</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-06-01T14:48:02</CreateDate>
    <NodeName Default="Elmah" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "key": "5bf2cccd-0a1c-4451-b4ae-63bc09ffc39d",
      "udi": null,
      "values": [
        {
          "alias": "richText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ENothing!\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5bf2cccd-0a1c-4451-b4ae-63bc09ffc39d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "5bf2cccd-0a1c-4451-b4ae-63bc09ffc39d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Error Log for]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>