<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-05-30T08:16:58</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b62144fa-cb6f-4c09-aad4-5d8dc0cfc208">home</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8afa6c10-e3c0-4944-bcd2-7838274b2a9f",
      "key": "71a47889-ee81-400b-80b9-f3aac5293e69",
      "udi": null,
      "values": [
        {
          "alias": "numberOfPosts",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "startNode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/1d770f10d1ca4a269d68071e2c9f7ac1"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "71a47889-ee81-400b-80b9-f3aac5293e69",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "71a47889-ee81-400b-80b9-f3aac5293e69",
        "contentUdi": "umb://element/71a47889ee81400b80b9f3aac5293e69",
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </bodyText>
    <colorTheme>
      <Value><![CDATA[earth]]></Value>
    </colorTheme>
    <font>
      <Value><![CDATA[mono]]></Value>
    </font>
    <footerAddress>
      <Value><![CDATA[Mêlée Island, Deep in the Caribbean - info@scummbar.site]]></Value>
    </footerAddress>
    <footerCTACaption>
      <Value><![CDATA[Read All on the Blog]]></Value>
    </footerCTACaption>
    <FooterCtalink>
      <Value><![CDATA[umb://document/1d770f10d1ca4a269d68071e2c9f7ac1]]></Value>
    </FooterCtalink>
    <footerDescription>
      <Value><![CDATA[Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat]]></Value>
    </footerDescription>
    <footerHeader>
      <Value><![CDATA[The Scumm Bar]]></Value>
    </footerHeader>
    <HeroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "b411d146-f4c1-4ff4-ad17-6b90b4b4c1ef",
    "mediaKey": "aae8ac77-74ae-4c35-8b0c-7484105ed3d8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </HeroBackgroundImage>
    <heroCTACaption>
      <Value><![CDATA[Check our products]]></Value>
    </heroCTACaption>
    <HeroCtalink>
      <Value><![CDATA[umb://document/ec4aafcc0c254f25a8fe705bfae1d324]]></Value>
    </HeroCtalink>
    <heroDescription>
      <Value><![CDATA[Moonfish, steelhead, lamprey southern flounder tadpole fish sculpin bigeye, blue-redstripe danio collared dogfish. Smalleye squaretail goldfish arowana butterflyfish pipefish wolf-herring jewel tetra, shiner; gibberfish red velvetfish. Thornyhead yellowfin pike threadsail ayu cutlassfish.]]></Value>
    </heroDescription>
    <heroHeader>
      <Value><![CDATA[The Scumm Bar]]></Value>
    </heroHeader>
    <SiteLogo>
      <Value><![CDATA[]]></Value>
    </SiteLogo>
    <sitename>
      <Value><![CDATA[The Scumm Bar]]></Value>
    </sitename>
  </Properties>
</Content>