<?xml version="1.0" encoding="utf-8"?>
<Content Key="ade91f15-64e4-4a22-9876-29540e1cf27d" Alias="Jug o' Grog" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/JugOGrog</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-05-31T17:06:00</CreateDate>
    <NodeName Default="Jug o' Grog" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[alcohol]]></Value>
    </category>
    <description>
      <Value><![CDATA[A secret mixture that contains one or more of the following: Kerosene, Propylene Glycol, Artificial Sweeteners, Sulfuric Acid, Rum, Acetone, Battery Acid, red dye#2, SCUMM, Axle grease and/or pepperoni. Mmmmm Grog.]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "78874098-299f-4ed8-859a-3b73f5b53420",
    "mediaKey": "8e15db00-4c2c-40f9-976f-04fc014f16e4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[20]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Jug o' Grog]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[]]></Value>
    </sku>
  </Properties>
</Content>