<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbb37f72-5cf5-4da5-8828-bb18255213f0" Alias="Madison" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">People</Parent>
    <Path>/Home/People/Madison</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2025-05-31T17:42:28</CreateDate>
    <NodeName Default="Madison" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[]]></Value>
    </department>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[[
  {
    "key": "957cae1c-f7f3-4b2d-8ebc-08b4b8c27af8",
    "mediaKey": "6c7c63f6-b1a1-4bec-8461-f09f773d7253",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>