<?xml version="1.0" encoding="utf-8"?>
<Content Key="97857a33-49d8-4955-923a-762811aa5799" Alias="Register" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>register</ContentType>
    <CreateDate>2025-06-12T13:20:10</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0d08f770-c12a-454f-b3d8-6d086f654a7a">register</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Register]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>