<?xml version="1.0" encoding="utf-8"?>
<Content Key="0413a788-60ee-48e8-913c-4a22d05dde7b" Alias="Trent" Level="3">
  <Info>
    <Parent Key="e8ad9b65-cff6-4952-ac5b-efe56a60db62">People</Parent>
    <Path>/Home/People/Trent</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2025-05-31T17:43:31</CreateDate>
    <NodeName Default="Trent" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="61cd6312-f34f-4ac7-9788-0acafc672b47">Person</Template>
  </Info>
  <Properties>
    <department>
      <Value><![CDATA[]]></Value>
    </department>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <facebookUsername>
      <Value><![CDATA[]]></Value>
    </facebookUsername>
    <instagramUsername>
      <Value><![CDATA[]]></Value>
    </instagramUsername>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <linkedInUsername>
      <Value><![CDATA[]]></Value>
    </linkedInUsername>
    <photo>
      <Value><![CDATA[[
  {
    "key": "98fcc96e-f8fc-4680-9edf-ca710ac1462b",
    "mediaKey": "84d4af0f-f3dd-42c8-8163-6d6d47939056",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photo>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <twitterUsername>
      <Value><![CDATA[]]></Value>
    </twitterUsername>
    <umbracoNavihide>
      <Value><![CDATA[]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>