<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="645af7da-2c46-4401-af4e-ce83ab2dc1fa" Alias="login" Level="1">
  <Info>
    <Name>Login</Name>
    <Icon>icon-combination-lock-open</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="4ff4a1fc-24db-489a-bdd2-532081dbc62f">contentBase</Composition>
      <Composition Key="e24e6d11-8005-47d9-9078-219a2182f34f">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Login</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e28fc7cb-e1d5-427e-892b-08b22d46ed0f">Login</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>