<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d0726e6-5fa7-4455-8fe6-ed5bf9057cc4" Alias="Blogpost - Categories - Tags" Level="1">
  <Info>
    <Name>Blogpost - Categories - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tags</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "delimiter": "\u0000",
  "group": "default",
  "storageType": "Json"
}]]></Config>
</DataType>