<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ecbbac0d-974e-490c-b533-fead926dc525" Alias="Contact - Contact Intro - Rich Text Editor" Level="1">
  <Info>
    <Name>Contact - Contact Intro - Rich Text Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": null,
  "ignoreUserStartNodes": false,
  "mediaParentId": null
}]]></Config>
</DataType>