<?xml version="1.0" encoding="utf-8"?>
<DataType Key="895a122a-b23d-4515-8eda-9891f934a10c" Alias="Content Base - Content - Block Grid" Level="1">
  <Info>
    <Name>Content Base - Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "areaGridColumns": null,
      "areas": [],
      "contentElementTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "settingsElementTypeKey": null,
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "areaGridColumns": null,
      "areas": [],
      "contentElementTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "settingsElementTypeKey": null,
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "areaGridColumns": null,
      "areas": [],
      "contentElementTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "settingsElementTypeKey": null,
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "areaGridColumns": null,
      "areas": [
        {
          "key": "eb3edd9f-92e7-46a5-b9e8-c4ff0df24da5",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null
        },
        {
          "key": "d5b3d5e5-dd4d-42fb-b207-4cf5beaa1331",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null
        }
      ],
      "contentElementTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "settingsElementTypeKey": null,
      "allowAtRoot": true,
      "allowInAreas": false
    }
  ],
  "gridColumns": 12,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>