<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d36e0653-cb07-4461-abd7-80868a2575b6" Alias="Home - Content - Block Grid" Level="1">
  <Info>
    <Name>Home - Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "areaGridColumns": null,
      "areas": [],
      "contentElementTypeKey": "acb45439-f439-4f58-a54e-c3767bc33a9c",
      "settingsElementTypeKey": null,
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "areaGridColumns": null,
      "areas": [],
      "contentElementTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "settingsElementTypeKey": null,
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "areaGridColumns": null,
      "areas": [],
      "contentElementTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "settingsElementTypeKey": null,
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "areaGridColumns": null,
      "areas": [
        {
          "key": "9c173a2d-8010-4de4-ae63-a79cecf8dec0",
          "alias": "left",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null
        },
        {
          "key": "4725a342-5346-4c08-9de4-254ef1e7e704",
          "alias": "right",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null
        }
      ],
      "contentElementTypeKey": "11b28d22-9f80-4546-8657-4530e99950c4",
      "settingsElementTypeKey": null,
      "allowAtRoot": true,
      "allowInAreas": false
    },
    {
      "areaGridColumns": null,
      "areas": [],
      "contentElementTypeKey": "8afa6c10-e3c0-4944-bcd2-7838274b2a9f",
      "settingsElementTypeKey": null,
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>