<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71548df5-836c-41f8-96ac-5b98fe5e2e19" Alias="Home - Color Theme - Radio button list" Level="1">
  <Info>
    <Name>Home - Color Theme - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "water",
    "earth",
    "sun"
  ]
}]]></Config>
</DataType>