<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4a4a3e7-fc19-45a5-8d4c-a9f72e405cc2" Alias="Latest Blogposts -  Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Latest Blogposts -  Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": true,
  "maxNumber": 1,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "query": null,
    "dynamicRoot": {
      "originAlias": "Root",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "5a3911ec-c263-431e-8688-f369257c2d50"
          ]
        }
      ]
    },
    "id": null
  }
}]]></Config>
</DataType>