<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28a6aeda-b3fc-4c4d-926e-607854a07891" Alias="Products - Default Currency - Dropdown list" Level="1">
  <Info>
    <Name>Products - Default Currency - Dropdown list</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "\u20AC",
    "\u00A3",
    "$",
    "DKK"
  ],
  "multiple": false
}]]></Config>
</DataType>