<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ada047c-6dfc-4a14-afc4-7efb79390f92" Alias="Product - Photos - Media Picker" Level="1">
  <Info>
    <Name>Product - Photos - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": null,
  "enableLocalFocalPoint": false,
  "filter": null,
  "ignoreUserStartNodes": false,
  "multiple": false,
  "startNodeId": null,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>