<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0382188-119b-49b7-86d3-84119a02645f" Alias="Products - Featured Products - Multinode Treepicker" Level="1">
  <Info>
    <Name>Products - Featured Products - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "query": null,
    "dynamicRoot": null,
    "id": "ec4aafcc-0c25-4f25-a8fe-705bfae1d324"
  }
}]]></Config>
</DataType>