<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e6bbfe6-6806-4b0b-b06f-fbd8de8b17ff" Alias="breath-mints.jpg" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/breathMintsjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-31T17:02:11</CreateDate>
    <NodeName Default="breath-mints.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nf0d1kdp/breath-mints.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>