<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e15db00-4c2c-40f9-976f-04fc014f16e4" Alias="grog.png" Level="2">
  <Info>
    <Parent Key="1ad4e9a3-4ad5-476c-aba2-9602e34e323f">Products</Parent>
    <Path>/Products/grogpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-31T17:05:56</CreateDate>
    <NodeName Default="grog.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r2ifgocf/grog.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>