<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c7c63f6-b1a1-4bec-8461-f09f773d7253" Alias="madison.png" Level="2">
  <Info>
    <Parent Key="b001a4cb-5f33-4957-917d-597ca0ea05a4">People</Parent>
    <Path>/People/madisonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-31T17:42:10</CreateDate>
    <NodeName Default="madison.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pgudvwwi/madison.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>