<?xml version="1.0" encoding="utf-8"?>
<Media Key="aae8ac77-74ae-4c35-8b0c-7484105ed3d8" Alias="Scumm Bar" Level="2">
  <Info>
    <Parent Key="3464d78e-c1d2-4fe4-807d-402672b237a5">Design</Parent>
    <Path>/Design/ScummBar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-31T17:00:07</CreateDate>
    <NodeName Default="Scumm Bar" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5btk2hgh/scumm-bar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>