<?xml version="1.0" encoding="utf-8"?>
<Media Key="a186db19-168e-4a11-9129-578c5803eb87" Alias="stan.webp" Level="2">
  <Info>
    <Parent Key="b001a4cb-5f33-4957-917d-597ca0ea05a4">People</Parent>
    <Path>/People/stanwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-31T17:44:44</CreateDate>
    <NodeName Default="stan.webp" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/syinaf5h/stan.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>